.app-container{
  display:flex;
}

.content{
  width:100%;
}

.side-bar{
  min-height: 800px;
}

.post-card{
  margin:20px 50px;
}

.hashtag{
  margin: 0px 3px;
}

.reactions{
  width:100%;
  margin:15px 0 0 0;
}

.create-post{
  width:80%;
  margin-top: 50px;
  margin-left:10px;
}

.post-button{
  margin-top:10px;
}

.welcome-message{
  margin:100px 0px;
  text-align: center;
}

.spinner{
  margin:10% 0;

}